.DS_Store
*.o
*.pyc
.env
*.lock
Thumbs.db
.python-version

.pytestcache/
.vscode/
__pycache__/

logs/
notebooks/
wandb/
!configs/wandb/

data/TAL-NoiseMaker/*vst3
data/TAL-NoiseMaker/sound_attributes_ranking_dataset/
data/nsynth-lite/
checkpoints/
!checkpoints/encodec*
resources/

test_model.py