.DS_Store
*.o
*.pyc
.env
*.lock
Thumbs.db
.python-version

.pytestcache/
.vscode/
__pycache__/

logs/
notebooks/

data/TAL-NoiseMaker/
!data/TAL-NoiseMaker/tal_noisemaker_presets.json
data/nsynth-lite
