.DS_Store
*.o
*.pyc
.env
*.lock
Thumbs.db
.python-version
*.egg-info
.pytestcache/
.vscode/
.venv/
__pycache__/

logs/
notebooks/
wandb/
!configs/wandb/

data/*vst3
data/sound_attributes_ranking_dataset/
data/nsynth-lite/
checkpoints/
!checkpoints/encodec*
resources/

div_check/