--extra-index-url https://download.pytorch.org/whl/cu118 ; platform_system == "Windows", platform_system == "Linux"
-e .
dawdreamer
descript-audio-codec
einops
fastapi
hydra-core
hydra-colorlog
laion-clap
lightning
omegaconf
music2latent
pedalboard
python-dotenv
rich
soundfile
timm==0.4.12
torch
torchaudio
torchmetrics
torchopenl3
tqdm
wandb